<!DOCTYPE html>
{% load static %}
{% load pwa %}
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% progressive_web_app_meta %}
	<!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"> -->
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"> -->
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
	<!-- <link rel="manifest" href="/manifest.json"> -->
	<!-- <meta name="msapplication-TileColor" content="#ffffff"> -->
	<!-- <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
	<!-- <meta name="theme-color" content="#ffffff"> -->
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- <link rel="stylesheet" href="{% static 'css/w3.css' %}" /> -->
	<!-- <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}" /> -->
	
	{% load notifications_tags %}
	<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
	{% register_notify_callbacks refresh_period='60' callbacks='fill_notification_list,fill_notification_badge' %}
    {% block extra_head %}
    {% endblock %}
	<script>
		function openDropdownContentNavBar(y)
		{
			var x = document.getElementById(y);
			if (x.className.indexOf("w3-show") == -1)
			{
				x.className += " w3-show";
			}
			else
			{ 
				x.className = x.className.replace("w3-show", "");
			}
		}
	</script>
  </head>
  <body>

    {% block body %}
	<div class="w3-bar w3-teal w3-container w3-mobile">
			<a href="{% url 'home' %}" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-home"></i></a>
			{% block menu %}
			<div class="w3-dropdown-click w3-mobile" onclick="openDropdownContentNavBar('NavBarContentDropdown')">
			  <button class="w3-button" ">
				<i class="fa fa-navicon"></i>	 <i class="fa fa-caret-down"></i>
			  </button>
			  <div id="NavBarContentDropdown"class="w3-dropdown-content w3-bar-block w3-card">
				{% if user.is_authenticated %}
				{% if user.is_superuser %}
				<a href="{% url 'admin:index' %}" class="w3-bar-item w3-button w3-mobile">Admin Portal</a>
				{% endif %}
				<a  href="{% url 'socialaccount_connections' %}" class="w3-bar-item w3-button w3-mobile">Add 3rd Party Login</a>
				<a  href="{% url 'account_email' %}" class="w3-bar-item w3-button w3-mobile">Change E-mail</a>
				<a  href="{% url 'account_logout' %}" class="w3-bar-item w3-button w3-mobile">Sign Out<i class="fa fa-sign-out w3-right"></i></a>
				{% else %}
				<a href="{% url 'account_login' %}" class="w3-bar-item w3-button w3-mobile">Sign In<i class="fa fa-sign-in w3-right"></i></a>
				<a href="{% url 'account_signup' %}" class="w3-bar-item w3-button w3-mobile">Sign Up<i class="fa fa-user w3-right"></i></a>
				{% endif %}
			  </div>
			</div>
			{% if messages or live_notify_badge > 0 %}
				<div class="w3-dropdown-click w3-mobile" onclick="openDropdownContentNavBar('NavBarMessagesDropdown')">
				<button class="w3-button" ">
				<i class="fa fa-envelope"></i> <i class="fa fa-caret-down"></i>
				</button>
				<div id="NavBarMessagesDropdown" class="w3-dropdown-content w3-bar-block w3-card">
					{% for message in messages %}
					<div class="w3-bar-item w3-button w3-mobile">{{message}}</div>
					{% endfor %}
					{% live_notify_list %}
				</div>
				</div>
			{% endif %}
			{% if user.is_authenticated %}
			<!-- change below link to profile page-->
			<a href="/" class="w3-bar-item w3-button w3-right w3-mobile"><i class="fa fa-user-circle-o"></i> {{ user.first_name }} {{ user.last_name }}</a>
			{% endif %}
	</div>
	{% endblock %}
	<div class="w3-panel w3-mobile w3-padding-16 w3-display-topmiddle" style="top:auto">
    {% block content %}
    {% endblock %}
	</div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
