{% extends "baseSansMenu.html" %}
{% load static %}
{% block head_title %}Create Session{% endblock %}
{% block extra_head%}
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	{{ form.media }}            {# Adds date-picker required JS and CSS #}
	
{% endblock %}
{% block content %}
	<div class="w3-content w3-center">
	  <form method="post" enctype="multipart/form-data" action="{% url 'CreateSessionView' %}">{% csrf_token %} 
	  {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.Teacher_Teaches_Subject.errors }}
    <label for="{{ form.Teacher_Teaches_Subject.id_for_label }}" class="w3-margin-right">Subject:</label>
    {{ form.Teacher_Teaches_Subject }}
</div>

<div class="fieldWrapper w3-panel">
    {{ form.DateOfClass.errors }}
    <label for="{{ form.DateOfClass.id_for_label }}">Date of class:</label>
    {{ form.DateOfClass }}
</div>


	  
	  
	  
		<!-- <div class="w3-margin w3-row"> {{ form }} </div> -->
		<a class="w3-panel w3-margin-right w3-mobile w3-btn w3-teal w3-round-large w3-padding w3-left   " href="{% url 'home' %}">Back</a>
		<button class="w3-panel w3-margin-left  w3-mobile w3-btn w3-teal w3-round-large w3-padding w3-right " type="submit">Create Session</button>

	  </form>
	</div>
{% endblock %}
