{% extends "baseSansMenu.html" %}
{% block content %}
	{% load socialaccount %}

	<h1>Login API test</h1>
		<div class="w3-container w3-mobile">
		{% if user.is_authenticated %}
		
			<div class="w3-cell-row">

				{% if user.is_staff %}
				<p><a class="w3-container w3-mobile w3-cell w3-button w3-round-large w3-teal" href="{% url 'teacher_portal' %}"> TEACHER</a></p>
				{% else %}
				<p><a class="w3-container w3-mobile w3-cell w3-button w3-round-large w3-teal" href="{% url 'student_portal' %}"> STUDENT</a></p>
				{% endif %}
		{% else %}
			<div class="w3-cell-row">
			<p><a class="w3-container w3-mobile w3-cell w3-button w3-round-large w3-teal" href="{% url 'account_signup' %}">Sign Up</a></p>
			<p><a class="w3-container w3-mobile w3-cell w3-button w3-round-large w3-teal" href="{% url 'account_login' %}">Log In </a></p>
			<p><a class="w3-container w3-mobile w3-cell w3-button w3-round-large w3-teal" href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
			</div>
		{% endif %}
	</div>
{% endblock %}

