{% extends "baseSansMenu.html" %}
{% block content %}
	{% load socialaccount %}

	<h1>Login API test</h1>
		<div class="w3-container">
		{% if user.is_authenticated %}
		
			<p>Welcome {{ user.username }} !!!</p>
			<div class="w3-cell-row">
			<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'socialaccount_connections' %}">Add 3rd party login</a>

				{% if user.is_superuser %}
				<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'admin:index' %}"> ADMIN PORTAL</a>
				{% endif %}

				{% if user.is_staff %}
				<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'teacher_portal' %}"> TEACHER</a>
				{% else %}
				<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'student_portal' %}"> STUDENT</a>
				{% endif %}

			<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'account_logout' %}">Log out</a>
			</div>
		{% else %}
			<div class="w3-cell-row">
			<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'account_signup' %}">Sign Up</a>
			<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% url 'account_login' %}">Log In </a>
			<a class="w3-container w3-cell w3-button w3-round-large w3-teal" href="{% provider_login_url 'google' %}">Log In with Gmail</a>
			</div>
		{% endif %}
	</div>
{% endblock %}

