{% extends "baseSansMenu.html" %}


{% block content %}
	{% if request.method == "POST" %}
		<H2>Attendance marked for the following students:</H2>
		<ul>
			{% for name in nameList %}
				<li>{{ name }}</li>
			{% endfor %}
		</ul>
	{% else %}
	<!-- <div class="w3-card"> -->
	  <form class="w3-padding w3-content w3-mobile" method="post" enctype="multipart/form-data" action="{% url 'test_home' %}">{% csrf_token %} 
		
		
		<!-- {{ form.subject.errors }} -->
		<!-- <label for="{{ form.subject.id_for_label }}">Subject:</label> -->
		<!-- {{ form.subject }} -->
		{{form}}


		<!-- <div class="w3-margin"> {{ form }} </div> -->
		<input class="w3-input w3-margin-top" type="file" name="image">
		<a class="w3-margin-top w3-btn w3-teal w3-round-large" href="{% url 'home' %}">Back</a>
		<button class="w3-margin-top w3-right w3-btn w3-teal w3-round-large" type="submit">Upload</button>
	  </form>
	
		
	{% endif %}
	<!-- </div> -->
{% endblock %}
