{% extends "baseSansMenu.html" %}
{% load static %}
{% block head_title %}Upload photo for recognition{% endblock %}
{% block content %}
	{% if request.method == "POST" %}
		{% if formSession %}
		<!-- <div class="w3-card"> -->
		  <!-- <form method="post" enctype="multipart/form-data" action="{% url 'test_home' %}">{% csrf_token %}  -->
			<!-- <div class="w3-margin"> {{ form_class }} </div> -->
			<!-- <input class="w3-input w3-margin-left w3-padding-32" type="file" name="image"> -->
			<!-- <a class="w3-panel w3-mobile w3-btn w3-teal w3-round-large w3-padding w3-margin-left  " href="{% url 'home' %}">Back</a> -->
			<!-- <button class="w3-panel w3-right  w3-mobile w3-btn w3-teal w3-round-large w3-padding w3-margin-right " type="submit">Upload</button> -->
		  <!-- </form> -->
		<!-- </div> -->
		<div class="w3-content w3-center w3-padding w3-mobile">
			<form method="post" enctype="multipart/form-data" action="{% url 'test_home' %}" class="w3-mobile">{% csrf_token %} 
				<div class="w3-margin"> {{ form_class }} </div>
					<input class="w3-input w3-margin-left w3-padding-32" type="file" name="image">
					<a class="w3-margin-top w3-left w3-mobile w3-btn w3-teal w3-round-large w3-padding  " href="{% url 'home' %}">Back</a>
					<button class="w3-margin-top w3-right  w3-mobile w3-btn w3-teal w3-round-large w3-padding" type="submit">Upload</button>
			</form>
		</div>
		{% else %}
		<H2>Attendance marked for the following students:</H2>
		<ul>
			{% for name in nameList %}
				<li>{{ name }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	{% else %}
	<div class="w3-content w3-center w3-padding w3-mobile">
	  <form method="post" enctype="multipart/form-data" action="{% url 'test_home' %}" class="w3-mobile">{% csrf_token %} 
		<div class="w3-margin"> {{ form_class }} </div>
		<input class="w3-input w3-margin-left w3-padding-32" type="file" name="image">
		<a class="w3-margin-top w3-left w3-mobile w3-btn w3-teal w3-round-large w3-padding  " href="{% url 'home' %}">Back</a>
		<button class="w3-margin-top w3-right  w3-mobile w3-btn w3-teal w3-round-large w3-padding" type="submit">Upload</button>
	  </form>
	</div>
	
		
	{% endif %}
{% endblock %}
