{% extends "baseSansMenu.html" %}
{% block content %}
	<div class="w3-panel w3-mobile">
	{% if request.method == "POST" %}
			<h2>Class List for {{ studentsList.first.Teacher_Teaches_Subject.subject.code }}: </h2>
			{% if studentsList %}
			<ul>
			{% for student in studentsList %}
				<li><h4>{{ student.student.rollNumber }}</h4></li>
			{% endfor %}</ul>
			{% else %}
				<div class="w3-panel w3-teal"> You have no students enrolled for the course just yet.</div>
			{% endif %}
			<a class="w3-panel w3-margin-left w3-mobile w3-btn w3-teal w3-round-large  " href="{% url 'teacher_portal' %}">Back</a>
	{% else %}
		<form method="POST" action="{% url 'StudentsList' %}" class="w3-mobile w3-content w3-center ">{% csrf_token %}
			{{ form }}
			<div class="w3-row">
				<button class="w3-col w3-btn w3-teal w3-round-large w3-margin-top" type="submit" >Select</button>
				<a class="w3-col w3-margin-top w3-mobile w3-btn w3-teal w3-round-large  " href="{% url 'teacher_portal' %}">Back</a>
			</div>
		</form></div>
		
	{% endif %}
	</div>
	<!-- <div class="w3-panel w3-mobile w3-margin-left"> -->
	
	<!-- </div> -->
{% endblock %}