{% extends "baseSansMenu.html" %}
{% block head_title %}Check your attendance{% endblock %}
{% block content %}
	<div class="w3-panel w3-center w3-mobile">
	{% if request.method == "POST" %}
				<!-- <div class="w3-panel w3-teal"> You have not attended any classes.  <em>Get to it!</em></div> -->
				<p><span > Attended Classes: {{ Attended }} </span></p>
				<p><span> Total Classes: {{ Total }} </span></p>

				<p><span>
	{% else %}
		<form method="POST" action="{% url 'checkAttendance' %}" class=""><div class="w3-container">{% csrf_token %}
			{{ form_class }}
			<button class="w3-btn w3-teal w3-round-large" type="submit" class="">Select</button>
		</form></div>
		
	{% endif %}
	</div>
{% endblock %}