{% extends "baseSansMenu.html" %}
{% block content %}
	<div class="w3-panel w3-center w3-mobile">
	{% if request.method == "POST" %}
			{% if StudentAttendanceList %}
			Heyyy
			<h1>{% for attendanceRecord in StudentAttendanceList %}
				{{ attendanceRecord.studentTookClass.student.rollNumber }} {{ attendanceRecord.DateOfClass }} {{ attendanceRecord.studentTookClass.Teacher_Teaches_Subject.subject.code }}
			{% endfor %}</h1>
			{% else %}
				<div class="w3-panel w3-teal"> You have not attended any classes.  <em>Get to it!</em></div>
			{% endif %}
	{% else %}
		<form method="POST" action="{% url 'checkAttendance' %}" class="">{% csrf_token %}
			<!-- <div class="margin-top">{{ form }}</div> -->
			<div class="fieldWrapper w3-center">
			{{ form.subject.errors }}
			<label for="{{ id_Teacher_Teaches_Subject }}">Subject:</label>
			{{ form.Teacher_Teaches_Subject }}
			</div>
			<button class="w3-btn w3-teal w3-round-large w3-margin-top" style="width:100%" type="submit" >Select</button>
		</form></div>
		
	{% endif %}
	</div>
{% endblock %}