{% extends "baseSansMenu.html" %}
{% block content %}
	<div class="w3-panel w3-mobile">
	{% if request.method == "POST" %}
			{% if studentsList %}
			<h1>{% for student in studentsList %}
				{{ student.student.rollNumber }} {{ student.Teacher_Teaches_Subject.subject.code }}
			{% endfor %}</h1>
			{% else %}
				<div class="w3-panel w3-teal"> You have no students enrolled for the course just yet.</div>
			{% endif %}
	{% else %}
		<form method="POST" action="{% url 'StudentsList' %}" class=""><div class="w3-container">{% csrf_token %}
			{{ form }}
			<button class="w3-btn w3-teal w3-round-large" type="submit" class="">Select</button>
		</form></div>
		
	{% endif %}
	</div>
{% endblock %}