<!-- templates/home.html -->
{% load socialaccount %}

<h1>Login API test</h1>
{% if user.is_authenticated %}
	<p>Welcome {{ user.username }} !!!</p>
	<p><a href="{% url 'socialaccount_connections' %}">Add 3rd party login</a></p>

		{% if user.is_superuser %}
		<p><a href="{% url 'admin:index' %}"> ADMIN PORTAL</a></p>
		{% endif %}

		{% if user.is_staff %}
		<p><a href="{% url 'teacher_portal' %}"> TEACHER</a></p>
		{% else %}
		<p><a href="{% url 'student_portal' %}"> STUDENT</a></p>
		{% endif %}

	<p><a href="{% url 'account_logout' %}">Log out</a></p>

{% else %}

	<p><a href="{% url 'account_signup' %}">Sign Up</a></p>
	<p><a href="{% url 'account_login' %}">Log In </a></p>
	<p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>

{% endif %}